# FAVORITA STORES SALE

[Back to Top](#Table-of-Contents)

## Step 1: Business Understanding

### **Project Background:** 
This project focuses on time series forecasting to predict store sales for Corporation Favorita, a large Ecuadorian-based grocery retailer. The objective is to build a model that accurately predicts the unit sales for thousands of items sold at different Favorita stores.

### **Project Objective:** 
The project will focus on two areas:
- Understand the data: The first objective is to gain insights into the store sales data, including store-specific information, product families, promotions, and sales numbers. This understanding will enable the company to make informed business decisions.

- Predict store sales: Develop a reliable time series forecasting model that accurately predicts the unit sales for different product families at various Favorita stores. This will help the company optimize inventory management, plan promotions, and improve overall sales performance.

### **Methdology:** 

To achieve the objectives, we will follow a structured approach:

- Data Exploration: Thoroughly explore the provided datasets to understand the available features, their distributions, and relationships. This step will provide initial insights into the store sales data and help identify any data quality issues.

- Data Preparation: Handle missing values, perform feature engineering, and encode categorical variables as necessary. This step may involve techniques like imputation, scaling, and one-hot encoding.

- Time Series Analysis: Analyze the temporal aspects of the data, including trends, seasonality, and potential outliers. This analysis will provide a deeper understanding of the underlying patterns in store sales over time.

- Model Selection and Training: Select appropriate time series forecasting models and train them using the prepared data. Consider incorporating external factors like promotions, holidays, and oil prices, if available, to enhance the forecasting accuracy.

- Model Evaluation: Evaluate the trained models using appropriate metrics, such as mean absolute error (MAE), root mean squared error (RMSE), or mean absolute percentage error (MAPE). Assess the models' performance and identify the most accurate and reliable forecasting model.

- Model Deployment and Forecasting: Deploy the chosen model to predict store sales for future time periods, leveraging the provided test dataset. Generate forecasts for the target period and assess the model's ability to capture the sales patterns accurately.

By following this framework, we are going to predict store sales of Corporation Favorita.

### **File Descriptions and Data Field Information**

**train.csv**

-   The training data, comprising time series of features store_nbr, family, 
    and onpromotion as well as the target sales.

-   **store_nbr** identifies the store at which the products are sold.

-   **family** identifies the type of product sold.

-   **sales** gives the total sales for a product family at a particular store
    at a given date. Fractional values are possible since products can be sold in 
    fractional units (1.5 kg of cheese, for instance, as opposed to 1 bag of chips).

-   **onpromotion** gives the total number of items in a product family that
    were being promoted at a store at a given date.

**test.csv**

-   The test data, having the same features as the training data. You will predict the target sales for the dates in this file.

-   The dates in the test data are for the 15 days after the last date in the training data.

**transaction.csv**

-   Contains date, store_nbr and transaction made on that specific date.

**sample_submission.csv**

-   A sample submission file in the correct format.

**stores.csv**

-   Store metadata, including city, state, type, and cluster.

-   cluster is a grouping of similar stores.

**oil.csv**

-   **Daily oil price** which includes values during both the train and
     test data timeframes. (Ecuador is an oil-dependent country and its
     economical health is highly vulnerable to shocks in oil prices.)

**holidays_events.csv**

-   Holidays and Events, with metadata

> **NOTE**: Pay special attention to the transferred column. A holiday
> that is transferred officially falls on that calendar day but was
> moved to another date by the government. A transferred day is more
> like a normal day than a holiday. To find the day that it was
> celebrated, look for the corresponding row where type is **Transfer**.
>
> For example, the holiday Independencia de Guayaquil was transferred
> from 2012-10-09 to 2012-10-12, which means it was celebrated on
> 2012-10-12. Days that are type **Bridge** are extra days that are
> added to a holiday (e.g., to extend the break across a long weekend).
> These are frequently made up by the type **Work Day** which is a day
> not normally scheduled for work (e.g., Saturday) that is meant to
> payback the Bridge.

-   Additional holidays are days added a regular calendar holiday, for
    example, as typically happens around Christmas (making Christmas
    Eve a holiday).

**Additional Notes**

-   Wages in the public sector are paid every two weeks on the 15th and
    on the last day of the month. Supermarket sales could be affected
    by this.

-   A magnitude 7.8 earthquake struck Ecuador on April 16, 2016. People
    rallied in relief efforts donating water and other first need
    products which greatly affected supermarket sales for several
    weeks after the earthquake.


### **Hypothesis:** 

**Null Hypothesis (H<sub>0</sub>):**
Promotions have no effect on sales.

**Alternative Hypothesis (H<sub>1</sub>):**
Promotions have a positive effect on sales.

### **Key Business Questions:**

1. **Is the train dataset complete (has all the required dates)?**

   **Purpose:** Ensuring data integrity and comprehensiveness is crucial for accurate forecasting and analysis. Missing dates can lead to incomplete models and incorrect insights.
   
   **Approach:** 
   - Verify the presence of all expected dates within the dataset.
   - Identify and address any missing dates using imputation methods or flagging them for further investigation.
   - Utilize time series analysis techniques to check for continuity and consistency in the dataset.

2. **Which dates have the lowest and highest sales for each year (excluding days the store was closed)?**

   **Purpose:** Identifying peak and low sales periods helps in understanding seasonal trends and planning inventory, promotions, and staffing.
   
   **Approach:**
   - Aggregate sales data by date and year.
   - Use descriptive statistics to identify the dates with the minimum and maximum sales for each year.
   - Visualize the results using time series plots to highlight trends and anomalies.

3. **Did the earthquake impact sales?**

   **Purpose:** Assessing the impact of external events on sales is critical for risk management and contingency planning.
   
   **Approach:**
   - Analyze sales data before, during, and after the earthquake period.
   - Use statistical tests (e.g., t-tests, ANOVA) to determine if there are significant differences in sales during these periods.
   - Control for other variables that might influence sales to isolate the effect of the earthquake.

4. **Are certain stores or certain groups of stores selling more products? (Cluster, city, state, type)**

   **Purpose:** Understanding regional and store-type performance aids in targeted marketing and resource allocation.
   
   **Approach:**
   - Segment stores by clusters, cities, states, and types.
   - Perform comparative analysis using descriptive statistics and visualizations (e.g., box plots, bar charts).
   - Use statistical tests to determine if there are significant differences in sales among the different groups.

5. **Are sales affected by promotions, oil prices, and holidays?**

   **Purpose:** Identifying key drivers of sales enables better forecasting and strategy development.
   
   **Approach:**
   - Collect data on promotions, oil prices, and holidays.
   - Perform correlation analysis and regression modeling to assess the impact of these factors on sales.
   - Use time series analysis to account for seasonality and trends.

6. **What analysis can we get from the date and its extractable features?**

   **Purpose:** Extracting and analyzing date-related features helps in understanding temporal patterns and improving forecasting models.
   
   **Approach:**
   - Extract features such as day of the week, month, quarter, and holidays from the date.
   - Analyze how these features correlate with sales using statistical and machine learning methods.
   - Use feature importance techniques in predictive modeling to identify the most impactful date-related features.

7. **What is the difference between RMSLE, RMSE, MSE (or why is the MAE greater than all of them)?**

   **Purpose:** Understanding different evaluation metrics is essential for selecting the appropriate method to measure model performance.
   
   **Approach:**
   - Define and explain the formulas and use cases for RMSLE (Root Mean Squared Logarithmic Error), RMSE (Root Mean Squared Error), MSE (Mean Squared Error), and MAE (Mean Absolute Error).
   - Compare the metrics using examples or model results to highlight their differences.
   - Discuss why MAE might be greater than RMSLE, RMSE, and MSE in certain contexts, focusing on sensitivity to outliers and the nature of error penalization.

8. **Compare the sales for each month across the years and determine which month of which year had the highest sales.**

9. **Which product family and stores did the promotions affect?**
    
10. **Does the payment of wages in the public sector on the 15th and last days of the month influence the store sales**

[Back to Top](#Table-of-Contents)
## Step 2: Data Understanding

`Project Initialization`

`Data Collection`

`EDA & Data Cleaning`

Inspect the dataset in depth, visualise it to answer analytical questions and plan the cleaning, processing and feature creation.

### Project Initialisation

In [12]:
# Environment variables management
from dotenv import dotenv_values

# Database connection
import pyodbc
import MySQLdb
import mysql.connector
import pymysql

# Data handling and utilities
import pandas as pd
import numpy as np
import re
import calendar
import warnings
import os
import pickle
import joblib

# Data fetching
import requests
import zipfile

# Statistical analysis
from scipy.stats import skew, kurtosis, chi2_contingency

# Time series analysis
import statsmodels.api as sm
import statsmodels.tsa.api as tsa
# from fbprophet import Prophet

# Visualization
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML, display_html

# Data imputation
from fancyimpute import IterativeImputer
from sklearn.experimental import enable_iterative_imputer, enable_halving_search_cv

from sklearn.impute import IterativeImputer, SimpleImputer

# Feature processing
from sklearn.preprocessing import (
    StandardScaler, MinMaxScaler, LabelEncoder, 
    FunctionTransformer, OneHotEncoder, RobustScaler, PowerTransformer, quantile_transform
)
from sklearn.model_selection import (
    train_test_split, StratifiedShuffleSplit, 
    GridSearchCV, RandomizedSearchCV, cross_val_score, 
    cross_val_predict, TimeSeriesSplit
)
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.utils import resample, estimator_html_repr
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline as ImbPipeline


# Feature selection
from sklearn.feature_selection import (
    SelectKBest, chi2, f_classif, 
    mutual_info_classif, RFE, SelectFromModel, SelectPercentile
)

# Machine Learning models
from sklearn.ensemble import (
    RandomForestClassifier, GradientBoostingClassifier
)
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
import catboost as cb
import lightgbm as lgb
import xgboost as xgb
from xgboost import XGBClassifier

# Neural Networks
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization

# Model evaluation
from sklearn.metrics import (
    confusion_matrix, classification_report, make_scorer, 
    accuracy_score, roc_auc_score, precision_score, recall_score, 
    f1_score, log_loss, roc_curve, mean_squared_error, mean_absolute_error
)

# Suppressing warnings to avoid cluttering the output
warnings.filterwarnings("ignore")

# Set display options for Pandas DataFrame
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

# Set theme for plots
sns.set_theme(style="white", palette="pastel", font="sans-serif", font_scale=1.5)
plt.style.use("default")
custom_palette = ["cyan", "magenta", "yellow"]

### Data Collection

The task involves accessing three different datasets from different sources: a database, OneDrive, and a GitHub repository. Each dataset has a specific method of access, such as querying a database using ODBC or ORM library, downloading a file programmatically using the requests library from OneDrive, and cloning or downloading a file from a GitHub repository using gitpython or requests library.

#### Access the LP3_TS_forecasting databases from Microsoft SQL Server
Connect to the database using provided credentials

In [35]:
# load environment variables from.env file into dictionary
environment_variables = dotenv_values("LP3_TSF.env")

# get the values for the environment variables
server = environment_variables.get("server")
login = environment_variables.get("login")
password = environment_variables.get("password")
database = environment_variables.get("database")

# Create a database connection string using pyodbc
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={login};PWD={password}"
#Establish a connection to the database
try:
    connection = pyodbc.connect(connection_string)
    print("Connection successful:", connection_string)    
except Exception as e:
    print("Connection failed:", e)

Connection successful: DRIVER={SQL Server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=learning_project_3;PWD=A$uB1Lp3$2@24

##### Fetch Information Schema for tables in the database

In [8]:
# Define the SQL query to show specific tables in the database
db_query = """
        SELECT *
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_SCHEMA = 'dbo'
        """
# Read data from the SQL query result into a DataFrame using the established database connection
schema_df = pd.read_sql(db_query, connection)

#  Check whether data has been retrieved successfully to confirm successful connection to database
try:
    schema_df = pd.read_sql(db_query, connection)    
    print("Data retrieved successfully")
    print()
    print(schema_df)    
except Exception as e:
    print("Failed to retrieve data:", e)

Data retrieved successfully

  TABLE_CATALOG TABLE_SCHEMA       TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  holidays_events  BASE TABLE
1         dapDB          dbo              oil  BASE TABLE
2         dapDB          dbo           stores  BASE TABLE

##### Load LP3_TS_forecasting stores data

In [37]:
# Define the SQL query to show specific tables in the database
db_query = """
        SELECT *
        FROM stores        
        """
# Read data from the SQL query result into a DataFrame using the established database connection
df_stores = pd.read_sql(db_query, connection)

# Display the DataFrame
df_stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

##### Load LP3_TS_forecasting oil data

In [10]:
# Define the SQL query to show specific tables in the database
db_query = """
        SELECT *
        FROM oil        
        """
# Read data from the SQL query result into a DataFrame using the established database connection
df_oil = pd.read_sql(db_query, connection)

# Display the DataFrame
df_oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02   93.139999
2  2013-01-03   92.970001
3  2013-01-04   93.120003
4  2013-01-07   93.199997

##### Load LP3_TS_forecasting holidays_events data

In [11]:
# Define the SQL query to show specific tables in the database
db_query = """
        SELECT *
        FROM holidays_events        
        """
# Read data from the SQL query result into a DataFrame using the established database connection
df_holidays = pd.read_sql(db_query, connection)

# Display the DataFrame
df_holidays.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

#### Access the LP3_TS_forecasting databases from GitHub Repository

In [29]:
# URL of the file to download
url = "https://github.com/Nfayem/Career_Accelerator_LP3-Regression/raw/main/store-sales-forecasting.zip"

# Local file path where the file will be saved
local_file_path = '../Data/store-sales-forecasting.zip'

# Create the directory if it doesn't exist
os.makedirs(os.path.dirname(local_file_path), exist_ok=True)

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Write the content of the response to the specified file path
    with open(local_file_path, "wb") as f:
        f.write(response.content)
    print("File downloaded successfully")
    
    # Extract the ZIP file
    with zipfile.ZipFile(local_file_path, 'r') as zip_ref:
        zip_ref.extractall(os.path.dirname(local_file_path))
    print("File extracted successfully")
else:
    print(f"Failed to download file. Status code: {response.status_code}")

File downloaded successfully
File extracted successfully

##### Load LP3_TS_forecasting train data

In [30]:
# Read the downloaded CSV file into a DataFrame
df_train = pd.read_csv('../Data/train.csv')

# Display the DataFrame
df_train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

##### Load LP3_TS_forecasting transaction data

In [41]:
# Read the downloaded CSV file into a DataFrame
df_transactions = pd.read_csv('../Data/transactions.csv')

# Display the DataFrame
df_transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

#### Access LP3_TS_forecasting databases from OneDrive

##### Load LP3_TS_forecasting sample_submission data

In [39]:
# Read the downloaded CSV file into a DataFrame
df_sample = pd.read_csv('../Data/sample_submission.csv')

# Display the DataFrame
df_sample.head()

        id  sales
0  3000888    0.0
1  3000889    0.0
2  3000890    0.0
3  3000891    0.0
4  3000892    0.0

##### Load LP3_TS_forecasting test data

In [33]:
# Read the downloaded CSV file into a DataFrame
df_test = pd.read_csv('../Data/test.csv')

# Display the DataFrame
df_test.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

### **Exploratory Data Analysis (EDA)**

#### A. Data Quality Assessment & Data exploration

In [42]:
# Check the datatype and the number of columns
df_stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

In [43]:
# Check the datatype and the number of columns
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

In [44]:
# Check the datatype and the number of columns
df_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [45]:
# Check the datatype and the number of columns
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [46]:
# Check the datatype and the number of columns
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB

In [47]:
# Check the datatype and the number of columns
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28512 non-null  int64
 1   sales   28512 non-null  float64
dtypes: float64(1), int64(1)
memory usage: 445.6 KB

In [48]:
# Check the datatype and the number of columns
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  object
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.1+ MB

In [56]:
df_oil['date'] = pd.to_datetime(df_oil['date'])
df_oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   datetime64[ns]
 1   dcoilwtico  1175 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 19.2 KB

In [57]:
df_holidays['date'] = pd.to_datetime(df_holidays['date'])
df_holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    datetime64[ns]
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), datetime64[ns](1), object(4)
memory usage: 14.1+ KB

In [58]:
df_train['date'] = pd.to_datetime(df_train['date'])
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         datetime64[ns]
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 137.4+ MB

In [59]:
df_transactions['date'] = pd.to_datetime(df_transactions['date'])
df_transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  datetime64[ns]
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: datetime64[ns](1), int64(2)
memory usage: 1.9 MB

In [60]:
df_test['date'] = pd.to_datetime(df_test['date'])
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  datetime64[ns]
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.1+ MB

In [61]:
# Create a copy of the original DataFrame to preserve the original data
df_train_eda = df_train.copy()

In [62]:
# Determine the proportion of missing values
missing_percentage = (df_train_eda.isnull().mean() * 100).round(2)

# Check for duplicated values
duplicate_count = df_train_eda.duplicated(subset=None, keep=False).sum()

# Display duplicated rows if any
duplicated_rows = df_train_eda[df_train_eda.duplicated(subset=None, keep=False)]

# Display Results
print("Proportion of missing values in df_train dataset:")
print()
print(missing_percentage)
print("\nNumber of duplicated rows in df_train dataset:", duplicate_count)
print("\nDuplicated rows in the df_train dataset:")
duplicated_rows

Proportion of missing values in df_train dataset:

id             0.0
date           0.0
store_nbr      0.0
family         0.0
sales          0.0
onpromotion    0.0
dtype: float64

Number of duplicated rows in df_train dataset: 0

Duplicated rows in the df_train dataset:

Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []

In [63]:
columns = df_train_eda.columns
columns

Index(['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'], dtype='object')

In [64]:
for column in columns:
    print(f'{column}')
    print(f'There are {df_train_eda[column].unique().size} unique values')
    print(f'{df_train_eda[column].unique()}')
    print('_' * 70)

id
There are 3000888 unique values
[      0       1       2 ... 3000885 3000886 3000887]
______________________________________________________________________
date
There are 1684 unique values
<DatetimeArray>
['2013-01-01 00:00:00', '2013-01-02 00:00:00', '2013-01-03 00:00:00',
 '2013-01-04 00:00:00', '2013-01-05 00:00:00', '2013-01-06 00:00:00',
 '2013-01-07 00:00:00', '2013-01-08 00:00:00', '2013-01-09 00:00:00',
 '2013-01-10 00:00:00',
 ...
 '2017-08-06 00:00:00', '2017-08-07 00:00:00', '2017-08-08 00:00:00',
 '2017-08-09 00:00:00', '2017-08-10 00:00:00', '2017-08-11 00:00:00',
 '2017-08-12 00:00:00', '2017-08-13 00:00:00', '2017-08-14 00:00:00',
 '2017-08-15 00:00:00']
Length: 1684, dtype: datetime64[ns]
______________________________________________________________________
store_nbr
There are 54 unique values
[ 1 10 11 12 13 14 15 16 17 18 19  2 20 21 22 23 24 25 26 27 28 29  3 30
 31 32 33 34 35 36 37 38 39  4 40 41 42 43 44 45 46 47 48 49  5 50 51 52
 53 54  6  7  8  9]
______________________________________________________________________
family
There are 33 unique values
['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
______________________________________________________________________
sales
There are 379610 unique values
[0.000000e+00 2.000000e+00 8.100000e+02 ... 4.381330e+02 1.545530e+02
 2.419729e+03]
______________________________________________________________________
onpromotion
There are 362 unique values
[  0   3   5   1  56  20  19   2   4  18  17  12   6   7  10   9  50   8
  16  42  51  13  15  47  21  40  37  54  24  58  22  59  11  45  25  55
  26  43  35  14  28  46  36  32  53  57  27  39  41  30  29  49  23  48
  44  38  31  52  33  34  61  60 116  86  73 113 102  68 104  93  70  92
 121  72 178 174 161 118 105 172 163 167 142 154 133 180 181 173 165 168
 186 140 149 145 169 188  62  84 111  65 107  63 101  87 125  94 114 171
 153 170 166 141 155 179 192 131 147 151 189  79  74 110  64  67  99 123
 157 117 150 182 162 160 194 135 190  69 108  89 126 156 103 146 132 177
 164 176 112  75 109  91 128 175 187 148 137 184 196 144 158 119 106  66
 100  90 120 115  98 159 152 185 139 143  80 124  71 134 193  78  88 122
 130  81  97 138 191  76  96 198  82  95 195 183 199 200 201 197  77  83
 136 205 204 202 129 206  85 209 211 207 208 203 210 127 213 212 218 216
 217 214 222 220 223 229 225 228 224 231 215 233 230 235 227 221 226 219
 289 245 609 261 322 276 710 511 326 281 718 551 304 639 489 299 243 630
 476 655 446 286 633 435 302 644 470 332 259 702 520 300 241 668 510 237
 626 507 317 624 474 240 672 306 600 383 293 258 646 444 333 279 717 342
 720 547 305 642 452 313 252 664 481 277 307 264 684 479 255 657 441 312
 269 716 528 320 285 726 536 283 628 469 464 677 420 247 629 424 290 473
 294 722 485 297 282 719 543 253 254 678 496 275 741 512 236 234 244 239
 238 242 232 249 250 251 391 539 411 486 407 330 697 246 467 263 591 248
 519 425]
______________________________________________________________________

In [66]:
df_train_eda[['store_nbr', 'sales', 'onpromotion']].describe().T

,count,mean,std,min,25%,50%,75%,max
store_nbr,3000888.0,27.500000,15.585787,1.0,14.0,27.5,41.00000,54.0
sales,3000888.0,357.775749,1101.997721,0.0,0.0,11.0,195.84725,124717.0
onpromotion,3000888.0,2.602770,12.218882,0.0,0.0,0.0,0.00000,741.0

In [67]:
df_train_eda.describe(include='object').T

          count unique         top   freq
family  3000888     33  AUTOMOTIVE  90936